html {
  scroll-behavior: smooth;
}

#BoldTitleFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(1.7rem,4vw,2.6rem);
}
#MonoTitleFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(2rem,3vw,5rem);
  color:white;
}
#mTitleFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(1rem,2vw,2rem);
  color:white;
}
#lTitleFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(1.6rem,3vw,4rem);
  color:white;
}
#WhiteTitleFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: xx-large;
  color:white;
}
#MonoSpaceFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(0.9rem,2vw,1.3rem);
  text-decoration: none;
  color:white;
}
#smMonoSpaceFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(0.8rem,4vw,1.1rem);
  text-decoration: none;
  color:white;
}
#smTitleFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(1rem,2vw,1.7rem);
  color: white;
  text-decoration: none;
}
#btnTitleFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(0.95rem,2vw,1.2rem);
  color: #133B5C;
  text-decoration: none;
}
.undertitle{
  margin-bottom: 15px;
}
#xsmWhiteMonoSpaceFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: small;
  color: white;
  text-decoration: none;
}
#PinkTitleFont{
  font-family: "Space Grotesk", sans-serif;
  color: #FCDAB7;
  font-size: clamp(1.8rem,4vw,2.2rem);
  padding-top: 15px;
}
#PurpleTitleFont{
  font-family: "Space Grotesk", sans-serif;
  color: #FCDAB7;
  font-size: xx-large;
  text-decoration: none;
}
#smPurpleTitleFont{
  font-family: "Space Grotesk", sans-serif;
  color: #FCDAB7;
  font-size: large;
  text-decoration: none;
}

#SocialMedia{
  height: 40px;
}
.d-flex justify-content-center{
  margin-top: 10px;
}
.containerSobremi{
  margin-top: 25px;
}

.imgContainer{
  height: 500;
  width: 350;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom:10px;
}

.card-img-top{
  border-radius:15px;
  cursor: pointer;
  transition: 0.2s;
}
.card-img-top:hover {
  transform: scale(1.1);
}

.card{
  height: 100%;
  border-radius: 15px;
  background-color:#133B5C ;
}

.rounded{
  height: 250px;
  width: 250px;
}

body{
  margin-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #14213D;
}
.Hablemos{
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(1rem,2vw,2.5rem);
  color:white;
}

.Toolbox{
  height: auto;
  width: 100%;
  border-radius: 25px;
  background-color: #133B5C;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.habilidad{
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 10px;
  height: auto;
  width: 20%;
  border-radius: 25px;
  background-color: #133B5C;
  margin-bottom: 10px;
}
.habilidades {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 25px;
}
#imgHabilidad{
  margin-bottom: 10px;
  margin-top: 10px;
  height:35px;
}
.skills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

@media (min-width: 600px) and (orientation:landscape){
  .Toolbox{
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }
  .Toolbox > * {
    transform: translateZ(40px);
  }
}
.gracias{
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
.containerTitulo{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

h1#BoldTitleFont {
  color: #FCDAB7;
}

#fotomi{
  height: 350px;
}
.containerSobremi{
  padding-bottom: 100px;
}
.Hablemos,.miTrabajo{
  padding-top: 100px;
  margin-top: 25px;
}

.miConocimiento{
  padding-top: 50px;
}
.contacto{
  padding-bottom: 100px;
}
.botonesConoceme{
  padding-bottom: 70px;
}
.mediaLinks,.subtitulo,.tituloPadding{
  padding-bottom: 10px;
}

.card-body{
  display: flex;
  flex-direction: column;
  background-color:#133B5C;
  border-radius:15px;
}
.btn-primary{
  background-color:#FCDAB7;
  border-color:#FCDAB7;
}
.btn-primary:hover, .btn-danger:hover, .btn-outline-secondary:hover{
  background-color:#061638;
  border-color:#061638;
  color: white !important;
  transition: 0.2s;
}

.btn-primary:active {
  background-color:#0C043F;
  border-color:#0C043F;
  transition: 0.2s;
}

.btn-outline-secondary{
  border-left: none;
  border-color: white;
  color: white !important;
}



.lgr{
      object-fit: contain;
}




:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.subtitulo{
  margin-bottom: -10px;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card-bottom {
  margin-top: auto;
}

.album{
  margin-top: -50px;
}
.titleContactame{
  margin-bottom: 20px;
}
.col-md-4{
  margin-bottom: 25px;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1D2D50; 
}
 
::-webkit-scrollbar-thumb {
  background: #FCDAB7; 
  border-radius: calc(15px / 2);
}

::-webkit-scrollbar-thumb:hover {
  background: #07243D; 
  border-radius: calc(15px / 2);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: "Space Grotesk", sans-serif;
  color:white;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: "Space Grotesk", sans-serif;
  color:white;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: "Space Grotesk", sans-serif;
  color:white;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: "Space Grotesk", sans-serif;
  color:white;
}
input
{
  font-family: "Space Grotesk", sans-serif;
  color:white;
}
textarea {
  font-family: "Space Grotesk", sans-serif;
}
input, select, textarea{
  font-family: "Space Grotesk", sans-serif;
}

textarea:focus, input:focus {
  font-family: "Space Grotesk", sans-serif;
}

@media (max-width: 600px){
  body{
    padding-left: 10%;
    padding-right: 10%;
  }
  .skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  #imgHabilidad{
    height:30px;
  }
  #SocialMedia{
    height: 25px;
  }
  .miConocimiento,.Hablemos{
    margin-top: -50px;
  }

  #fotomi{
    height: 300px !important;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .descrp{
    font-size: 4vw !important;
  }
  .habilidades {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin-bottom: 15px;
  }
  .habilidad{
    padding-bottom: 10px;
    margin-top: 10px;
    height: auto;
    width: 50%;
    border-radius: 25px;
    background-color: #133B5C;
    margin-bottom: 10px;
  }
  .habilidad h1{
    font-size: 3.5vw !important;
  }
  .habilidad p{
    font-size: 3vw !important;
  }
  .Toolbox{
    border-radius: 15px;
  }
}
