#BoldTitleFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: xx-large;
}
#WhiteTitleFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: xx-large;
  color:white;
}
#MonoSpaceFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: large;
  text-decoration: none;
}
#WhiteMonoSpaceFont{
  font-family: "Space Grotesk", sans-serif;
  font-size: large;
  color: white;
  text-decoration: none;
}
#ButtonFont{
  font-family: "Space Grotesk", sans-serif;
  font-family: 'Space Mono', monospace;
  font-size: x-large;
}
#PinkTitleFont{
  font-family: "Space Grotesk", sans-serif;
  color: #E61366;
  font-size: xx-large;
}
#PurpleTitleFont{
  font-family: "Space Grotesk", sans-serif;
  color: #B2007D;
  font-size: xx-large;
}

#SocialMedia{
  height: 45px;
}
.d-flex justify-content-center{
  margin-top: 10px;
}

.rounded{
  height: 250px;
  width: 250px;
}

body{
  margin-top: 50px;
}

.Toolbox{
  height: 500px;
  width: 300px;
  border-radius: 25px;
  background-color: #130C40;
}
